@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

p {
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.heading-text > p {
    font-size: 16px;
}

.section-heading > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}


.section-heading {
    margin-bottom: 60px;
}

.wellcome_area {
    background-image: url(img/bg-img/welcome-bg.png);
    height: 500px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.welcome-thumb {
    width: 42%;
    position: absolute;
    bottom: 50px;
    right: -10px;
    z-index: 9;
}


.wellcome-heading > h2 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.get-start-area .email {
    background: #9572e8;
    height: 50px;
    max-width: 260px;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;
}

.form-control::-webkit-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::placeholder {
    color: #cec1f4;
    opacity: 1;
}

.get-start-area .email:focus {
    border: none;
    outline-offset: transparent !important;
    border-radius: 30px;
}

.get-start-area .submit {
    background-color: #fb397d;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    margin-left: 10px;
}

.get-start-area .submit:hover {
    background: #6f52e5;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wellcome-heading > p {
    color: #fff;
}

.wellcome-heading > h3 {
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.wellcome-heading {
    margin-bottom: 100px;
}
